<form id="SearchTelForm" style="text-align: left">
  <fieldset>
    <label for="ev" class="firstLabel">Év/hónap</label>
    <input type="number" min="1900" max="2299" maxlength="4" name="ev" id="ev" value="2017" />
    <select name="ho" id="ho" >
      <option value="1">Január</option>
      <option value="2">Február</option>
      <option value="3">Március</option>
      <option value="4">Április</option>
      <option value="5" selected>Május</option>
      <option value="6">Június</option>
      <option value="7">Július</option>
      <option value="8">Augusztus</option>
      <option value="9">Szeptember</option>
      <option value="10">Október</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <label for="forras" >Forrás</label>
    <select name="forras" id="forras"><option value="M">Mobil</option><option value="V">Vezetékes</option></select>
    <br/>
    <label for="partner" class="firstLabel">Partner</label>
    <input type="text" name="partner" id="partner" style="width: 100px" />
    <br/>
    <label for="naplo" class="firstLabel">Napló</label>
    <input type="text" name="naplo" id="naplo" style="width: 40px" value="304" />
    <br/>
    <input type="submit" value="Keres">
  </fieldset>
</form>
